.promise-neighborhoods-header {
    nav {
        .navbar-header {
            position: absolute;
            z-index: 200;

            button {
                span.icon-bar, span.sr-only {}
            }

            .navbar-brand {
                img {}
            }
        }

        .navbar-form {
            margin-top: 10px;
            padding: 0;
            border: none;

            .form-control {}

            i.form-control-feedback {}
        }

        .navbar-collapse {
            ul {
                li {
                    width: 20%;
                }
            }
        }

        ul {
            margin-top: 47px;
            margin-left: 15%;
            width: 80%;

            li {
                a {
                    &:hover {}
                }

                a.active {}
            }
        }
    }
}
