.promise-neighborhoods-header {
    nav {
        .navbar-header {
            position: relative;
            z-index: auto;

            button {
                span.icon-bar, span.sr-only {}
            }

            .navbar-brand {
                img {}
            }
        }

        .navbar-form {
            margin-left: -60px;
            margin-top: 42px;

            .form-control {}

            i.form-control-feedback {}
        }

        .navbar-collapse {
            ul {
                margin-top: 30px;
                margin-left: -30px;

                li {
                    width: 20%;
                }
            }
        }

        ul {
            display: block;
            width: 100%;
            text-align: center;

            li {
                a {
                    &:hover {}
                }

                a.active {}
            }
        }
    }
}
