.promise-neighborhoods-header {
    display: block;
    width: 100%;
    color: $white;
    background-color: $light-blue;

    nav {
        color: $white;
        background-color: $light-blue;

        .navbar-header {
            button {
                border: 1px solid $white;

                span.icon-bar, span.sr-only {
                    background-color: $white !important;
                }
            }

            .navbar-brand {
                display: block;
                height: auto;
                z-index: 200;

                a {
                    display: block;
                    cursor: pointer;
                    position: relative;
                }

                img {
                    width: 89px;
                    position: relative;
                }
            }
        }

        .navbar-form {
            margin-top: 37px;
            text-align: center;
            background-color: $light-blue;

            .form-control {
                border-radius: 18px;
            }

            i.form-control-feedback {
                color: $search-color;
                float: left;
                top: 0;
            }
        }

        ul {
            display: block;
            width: 100%;
            text-align: center;

            li {
                a {
                    color: $white;
                    display: inline-block;
                    text-transform: uppercase;
                    text-align: center;

                    &:hover {
                        background: none !important;
                    }
                }

                a.active {
                    background: none !important;
                    border-bottom: 4px solid $orange;
                }
            }
        }
    }
}
