.promise-neighborhoods-header {
    nav {
        .navbar-header {
            .navbar-brand {}
        }

        .navbar-nav {
            margin: 69px 0px;
            display: block;
            background-color: $light-blue;
            width: 100%;
        }

        .navbar-form {
            margin-top: 0px;
            padding: 0;
            border: none;

            .form-control {}

            i.form-control-feedback {}
        }

        ul {
            display: block;
            width: 100%;

            li {
                width: 100%;

                &:hover {
                    background-color: $dark-blue;
                }

                a {
                    display: block;
                    width: 100%;

                    &:hover {
                        border: none !important;
                    }
                }

                a.active {
                    background-color: $dark-blue;
                    border: none !important;
                }
            }
        }
    }
}
