// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

$white: #fff;
$orange: #fbb148;
$light-blue: #4a8cc4;
$dark-blue: #0d5b9b;
$search-color: #7e8999;
$dark-grey: #333;
$light-grey: #eee;
$background-blue: #bdcde7;
$feature-blue: #e7f4ff;
$text-color: #333;
$circle-size: 160px;
$panel-tab-color: #eee;
$media-header-color: #8A8A8A;
$red: #a7090f;

// ICON COLORS

$icon-blue: #273992;
$icon-rust: #a04a39;
$icon-yellow: #f0c418;
$icon-dark-green: #20523e;
$icon-olive: #9cac3b;
$icon-purple: #606192;
$icon-brown: #9a8337;
$icon-magenta: #b1376f;
$icon-tan: #c6832a;
$icon-mint-green: #2bba95;

// END ICON COLORS

// END VARIABLES

html, body {
    height: 100%;
    min-height: 100vh;
    background-color: $white;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    color: $light-blue;
}

p {
    font-family: 'Raleway', sans-serif;
}

#promise-neighborhoods-wrap {
    min-height: 80vh;
}

.white {
    color: $white;
}

.orange {
    color: $orange;
}

.light-blue {
    color: $light-blue;
}

.dark-blue {
    color: $dark-blue;
}

.dark-grey {
    color: $dark-grey;
}

.light-grey {
    color: $light-grey;
}

.bg-white {
    background-color: $white;
}

.bg-orange {
    background-color: $orange;
}

.bg-light-blue {
    background-color: $light-blue;
}

.bg-dark-blue {
    background-color: $dark-blue;
}

.bg-light-grey {
    background-color: $light-grey;
}

.center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.full-width {
    width: 100%;
}

.col-no-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0 !important;
}

hr {
    background-color: $light-blue;
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 5px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: none;
}

@mixin circle {
    color: $white;
    border-radius: 50%;
    width: $circle-size;
    height: $circle-size;
}

@mixin h1-header {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    border-top: 10px solid $orange;
    border-left: 10px solid $orange;
    border-right: 10px solid $orange;
    font-weight: normal;
    font-size: 50px;
}

@mixin curve-head {
    display: block;
    position: relative;

    //border-radius: 50% 50% 0 0 / 15%;
    color: $white;
    background-color: $orange;
    min-height: 100px;
    padding: 40px 10px 10px;
}

////////// ICON BACKGROUND COLORS FOR MOBILE VIEW ////////

.icon-blue {
    background-color: $icon-blue;
}

.icon-rust {
    background-color: $icon-rust;
}

.icon-yellow {
    background-color: $icon-yellow;
}

.icon-dark-green {
    background-color: $icon-dark-green;
}

.icon-olive {
    background-color: $icon-olive;
}

.icon-purple {
    background-color: $icon-purple;
}

.icon-brown {
    background-color: $icon-brown;
}

.icon-magenta {
    background-color: $icon-magenta;
}

.icon-tan {
    background-color: $icon-tan;
}

.icon-mint-green {
    background-color: $icon-mint-green;
}

//////////// OVERRIDE HOVER.CSS /////////////

.hvr-underline-from-center {
    &:before {
        background: $orange !important;
    }
}

//TURN OFF NAV MAX HEIGHT TO REMOVE SCROLLBAR WHEN IN MOBILE

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: none !important;
}

////// SETTINGS FOR DATA COLLAPSABLE PANEL /////////

.panel-group {
    .panel-default > .panel-heading, .panel-heading {
        background-color: $panel-tab-color;
    }

    .fa-toggle-up {
        display: none;
    }

    a[aria-expanded="false"] {
        .fa-toggle-down {
            display: inline-block;
        }

        .fa-toggle-up {
            display: none;
        }
    }

    a[aria-expanded="true"] {
        .fa-toggle-down {
            display: none;
        }

        .fa-toggle-up {
            display: inline-block;
        }
    }

    .panel-heading {
        h3.panel-title {
            color: $dark-blue;
            font-weight: bold;
            font-size: 22px;
            text-align: left;
            margin: 0;
            padding: 0;
            text-transform: none;

            &:hover {
                color: $white;
            }

            .fa {
                float: right;
            }

            span.description {
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                color: $text-color;
                margin-left: 20px;
            }
        }

        &:hover {
            background-color: $light-blue;
        }
    }

    .panel-body {
        h4 {
            color: $dark-blue;
        }

        hr {
            width: 100%;
            background-color: $media-header-color;
            margin: 30px 0;
        }

        .media {
            display: block;
            width: 100%;

            img {
                display: block;
                margin-right: auto;
                margin-left: auto;
                width: 80px;
            }

            .media-heading {
                color: $media-header-color;
                display: block;
                font-size: 20px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                line-height: 50px;
            }
        }
    }
}

/////////////////// STYLE THE DROPDOWNS FOR NAVIGATION ///////////////

li.open > ul.dropdown-menu {
    display: table !important;
}

.promise-neighborhoods-header > nav > ul > li > ul.dropdown-menu {
    background-color: $dark-blue;
    margin-top: 0 !important;
    left: 70px !important;
}

ul.dropdown-menu > li {
    display: block !important;
    width: initial !important;
    text-align: left !important;
    cursor: pointer;

    &:hover {
        background-color: $orange;
    }
}

ul.dropdown-menu > li > a {
    color: $white !important;
    text-transform: none !important;
    cursor: pointer;

    &:hover {
        color: $text-color !important;
    }
}

////////////////////////// STYLE THE VIDEO //////////////////////

.video-space {
    margin-bottom: 40px;
}

.video-title {
    display: block;
    width: 100%;
    text-align: center;
    color: $text-color;
    font-weight: bold;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;

    .profile {
        color: $red;
    }

    .infographic {
        color: $dark-blue;
    }

    .left {
        text-align: -webkit-left;
    }

    .fa {
        font-size: 25px !important;
        margin-right: 10px !important;
    }

    a {
        color: $text-color !important;
        margin-bottom: 15px;
        display: block;

        &:hover {
            color: $dark-blue !important;
        }
    }
}

h2.video {
    display: block;
    color: $light-blue;
    font-size: 34px;
    font-weight: normal;
    width: 90%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 0;
}

////////////////////////// END STYLE THE VIDEO //////////////////////
