.table-responsive {
  width: 100%;
  margin-bottom: 16.5px;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch; }
  .table-responsive > .table {
    margin-bottom: 0; }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap; }
  .table-responsive > .table-bordered {
    border: 0; }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
      border-left: 0; }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
      border-right: 0; }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
      border-bottom: 0; }

.visible-xs {
  display: block !important; }

table.visible-xs {
  display: table; }

tr.visible-xs {
  display: table-row !important; }

th.visible-xs,
td.visible-xs {
  display: table-cell !important; }

.visible-xs-block {
  display: block !important; }

.visible-xs-inline {
  display: inline !important; }

.visible-xs-inline-block {
  display: inline-block !important; }

.hidden-xs {
  display: none !important; }

.icon-blue {
  background-color: #273992; }

.icon-rust {
  background-color: #a04a39; }

.icon-yellow {
  background-color: #f0c418; }

.icon-dark-green {
  background-color: #20523e; }

.icon-olive {
  background-color: #9cac3b; }

.icon-purple {
  background-color: #606192; }

.icon-brown {
  background-color: #9a8337; }

.icon-magenta {
  background-color: #b1376f; }

.icon-tan {
  background-color: #c6832a; }

.icon-mint-green {
  background-color: #2bba95; }

.hvr-underline-from-center:before {
  background: none !important; }

.no-top-image {
  margin-top: 176px; }

.list-group-item {
  padding: 0px !important;
  margin-bottom: 0px !important;
  background-color: none !important;
  border: none !important; }

.panel-group .panel-heading {
  padding: 5px 0; }
  .panel-group .panel-heading h3.panel-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    .panel-group .panel-heading h3.panel-title .fa {
      margin-right: 20px; }
    .panel-group .panel-heading h3.panel-title span.description {
      display: block;
      text-align: center;
      max-width: 300px;
      margin-right: auto;
      margin-left: auto;
      line-height: 20px;
      font-size: 12px; }
.panel-group .panel-body h4 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0; }
.panel-group .panel-body hr {
  height: 3px; }
.panel-group .panel-body p {
  margin-top: 0; }
.panel-group .panel-body .media .media-heading {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 25px;
  margin: 20px 0; }

.video-title .fa {
  margin-right: 10px; }

.promise-neighborhoods-header nav .navbar-nav {
  margin: 69px 0px;
  display: block;
  background-color: #4a8cc4;
  width: 100%; }
.promise-neighborhoods-header nav .navbar-form {
  margin-top: 0px;
  padding: 0;
  border: none; }
.promise-neighborhoods-header nav ul {
  display: block;
  width: 100%; }
  .promise-neighborhoods-header nav ul li {
    width: 100%; }
    .promise-neighborhoods-header nav ul li:hover {
      background-color: #0d5b9b; }
    .promise-neighborhoods-header nav ul li a {
      display: block;
      width: 100%; }
      .promise-neighborhoods-header nav ul li a:hover {
        border: none !important; }
    .promise-neighborhoods-header nav ul li a.active {
      background-color: #0d5b9b;
      border: none !important; }

.promise-neighborhoods-content .header-wrapper h1 {
  padding: 15px 0;
  border-top: 6px solid #fbb148;
  border-left: 6px solid #fbb148;
  border-right: 6px solid #fbb148;
  font-size: 40px; }
.promise-neighborhoods-content section.mainImage img {
  margin-top: 175px; }
.promise-neighborhoods-content section.mainImage .image-credit-text {
  bottom: 6px;
  font-size: 14px; }
.promise-neighborhoods-content section.welcome, .promise-neighborhoods-content section.innerPage {
  padding-bottom: 0px; }
.promise-neighborhoods-content section.home-curve {
  height: 36px;
  min-height: 0px; }
  .promise-neighborhoods-content section.home-curve:before {
    top: -5px; }
.promise-neighborhoods-content section.home-features .feature-block:first-child {
  margin-bottom: 30px; }
.promise-neighborhoods-content section.home-features .feature-block .feature-header-left {
  padding: 25px 10px 10px; }
.promise-neighborhoods-content section.home-features .feature-block .feature-header-right {
  padding: 22px 10px 10px; }
.promise-neighborhoods-content section.innerPage h1 span.photo-credit {
  display: block;
  width: 100%;
  font-size: 10px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  float: none;
  right: initial; }
.promise-neighborhoods-content section.innerPage h2 {
  font-size: 28px;
  padding: 15px 0 0; }
.promise-neighborhoods-content section.innerPage h2.dashboard-topic {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  line-height: normal; }
.promise-neighborhoods-content section.innerPage h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px; }
.promise-neighborhoods-content section.innerPage .btn {
  margin-top: 30px; }
.promise-neighborhoods-content section.innerPage .circle-container {
  width: 100px; }
  .promise-neighborhoods-content section.innerPage .circle-container .light-blue-circle {
    width: 100px;
    height: 100px; }
    .promise-neighborhoods-content section.innerPage .circle-container .light-blue-circle .fa {
      font-size: 60px; }
  .promise-neighborhoods-content section.innerPage .circle-container .orange-circle {
    width: 100px;
    height: 100px; }
    .promise-neighborhoods-content section.innerPage .circle-container .orange-circle .fa {
      font-size: 60px; }
.promise-neighborhoods-content section.innerPage-gradient {
  margin-top: -50px; }
.promise-neighborhoods-content section.dashboard-content {
  display: block;
  padding: 0; }
  .promise-neighborhoods-content section.dashboard-content .container {
    padding: 20px 0 0; }
    .promise-neighborhoods-content section.dashboard-content .container .col-xs-12 {
      padding-left: 0;
      padding-right: 0; }
    .promise-neighborhoods-content section.dashboard-content .container .panel-heading {
      padding: 0px;
      border-bottom: none;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px; }
      .promise-neighborhoods-content section.dashboard-content .container .panel-heading h2.panel-title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 15px;
        color: #0d5b9b; }
        .promise-neighborhoods-content section.dashboard-content .container .panel-heading h2.panel-title a {
          color: #0d5b9b;
          text-decoration: none;
          cursor: pointer; }
          .promise-neighborhoods-content section.dashboard-content .container .panel-heading h2.panel-title a:hover {
            color: #fff; }
        .promise-neighborhoods-content section.dashboard-content .container .panel-heading h2.panel-title:hover {
          color: #fff; }
    .promise-neighborhoods-content section.dashboard-content .container .icon-wrapper ul {
      display: block; }
      .promise-neighborhoods-content section.dashboard-content .container .icon-wrapper ul li {
        display: block;
        width: 100%;
        text-align: left;
        font-size: 16px; }
        .promise-neighborhoods-content section.dashboard-content .container .icon-wrapper ul li a {
          display: block;
          width: 100%;
          padding: 10px;
          line-height: 35px; }
          .promise-neighborhoods-content section.dashboard-content .container .icon-wrapper ul li a:hover {
            background-color: rgba(0, 0, 0, 0.8); }
          .promise-neighborhoods-content section.dashboard-content .container .icon-wrapper ul li a img {
            display: inline-block;
            width: 30px;
            float: left;
            margin-right: 10px;
            margin: inherit; }
          .promise-neighborhoods-content section.dashboard-content .container .icon-wrapper ul li a span.icon-title {
            display: inline-block;
            color: #fff;
            text-align: left;
            margin: 0; }

.promise-neighborhoods-footer .footer-info h2 {
  font-size: 20px; }
.promise-neighborhoods-footer .footer-info ul {
  display: block;
  text-align: center; }
  .promise-neighborhoods-footer .footer-info ul li {
    text-align: center;
    line-height: 30px; }
    .promise-neighborhoods-footer .footer-info ul li ul {
      display: block; }
      .promise-neighborhoods-footer .footer-info ul li ul li {
        text-align: center; }
    .promise-neighborhoods-footer .footer-info ul li .fa {
      margin-right: 10px;
      margin-left: 10px; }
.promise-neighborhoods-footer .footer-info ul.right {
  display: block; }
  .promise-neighborhoods-footer .footer-info ul.right li {
    text-align: center; }

/*# sourceMappingURL=xsmall.css.map */
