.promise-neighborhoods-content {
    .header-wrapper {
        h1 {
            padding: 15px 0;
            border-top: 6px solid #fbb148;
            border-left: 6px solid #fbb148;
            border-right: 6px solid #fbb148;
            font-size: 40px;
        }
    }

    a {}

    section {}

    section.mainImage {
        img {
            margin-top: 175px;
        }

        .image-credit {}

        .image-credit-text {
            bottom: 6px;
            font-size: 14px;
        }
    }

    .container {
        p {}

        p.dark-grey {}
    }

    /////// BEGIN HOME PAGE STYLING ///////

    section.welcome, section.innerPage {
        padding-bottom: 0px;
    }

    section.home-curve {
        height: 36px;
        min-height: 0px;

        &:before {
            top: -5px;
        }
    }

    section.home-features {
        .feature-block {
            &:first-child {
                margin-bottom: 30px;
            }

            h3 {
                .fa {}
            }

            h4 {}

            h5 {}

            p {}

            span.date {}

            .feature-header-left {
                padding: 25px 10px 10px;
            }

            .feature-header-right {
                padding: 22px 10px 10px;
            }

            .feature-body {}

            .feature-footer {
                a.feature-btn {
                    &:hover {}
                }
            }
        }
    }

    /////// END HOME PAGE STYLING ///////

    /////// BEGIN INTERNAL PAGE STYLING ///////

    section.innerPage {
        h1 {
            span.photo-credit {
                display: block;
                width: 100%;
                font-size: 10px;
                position: relative;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
                float: none;
                right: initial;
            }
        }

        h2 {
            font-size: 28px;
            padding: 15px 0 0;
        }

        h2.dashboard-topic {
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            line-height: normal;
        }

        h3 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 20px;
        }

        ul {
            li {}
        }

        .btn {
            margin-top: 30px;
        }

        .circle-container {
            width: 100px;

            .light-blue-circle {
                width: 100px;
                height: 100px;

                .fa {
                    font-size: 60px;
                }
            }

            .orange-circle {
                width: 100px;
                height: 100px;

                .fa {
                    font-size: 60px;
                }
            }
        }
    }

    section.innerPage-gradient {
        margin-top: -50px;

        .author {}
    }

    section.dashboard-content {
        display: block;
        padding: 0;

        .container {
            padding: 20px 0 0;

            .col-xs-12 {
                padding-left: 0;
                padding-right: 0;
            }

            .panel-heading {
                padding: 0px;
                border-bottom: none;
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;

                h2.panel-title {
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    color: $dark-blue;

                    a {
                        color: $dark-blue;
                        text-decoration: none;
                        cursor: pointer;

                        &:hover {
                            color: $white;
                        }
                    }

                    &:hover {
                        color: $white;
                    }
                }
            }

            .icon-wrapper {
                ul {
                    display: block;

                    li {
                        display: block;
                        width: 100%;
                        text-align: left;
                        font-size: 16px;

                        a {
                            display: block;
                            width: 100%;
                            padding: 10px;
                            line-height: 35px;

                            &:hover {
                                background-color: rgba(0, 0, 0, 0.8);
                            }

                            img {
                                display: inline-block;
                                width: 30px;
                                float: left;
                                margin-right: 10px;
                                margin: inherit;
                            }

                            span.icon-title {
                                display: inline-block;
                                color: $white;
                                text-align: left;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    /////// END INTERNAL PAGE STYLING ///////
}
