.promise-neighborhoods-content {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;

    .header-wrapper {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;

        h1 {
            @include h1-header;
        }
    }

    a {
        color: $orange;
        text-decoration: none;

        &:hover {
            color: $light-blue;
        }
    }

    section {
        display: block;
        width: 100%;
    }

    section.mainImage {
        img {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .image-credit {
            display: block;
            background-color: $white;
            width: 100%;
            -khtml-opacity: .70;
            -moz-opacity: .70;
            -ms-filter: ”alpha(opacity = 70) ”;
            filter: alpha(opacity = 70);
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
            opacity: .70;
            height: 50px;
            position: absolute;
            z-index: 500;
            bottom: 0px;
        }

        .image-credit-text {
            display: block;
            color: $text-color;
            z-index: 800;
            position: absolute;
            bottom: 13px;
            left: 20px;
            font-weight: bold;
            font-style: italic;
        }
    }

    .container {
        display: block;
        padding: 20px 0;

        p {
            display: block;
            color: $light-blue;
            font-size: 16px;
        }

        p.dark-grey {
            color: $dark-grey;
        }
    }

    /////// BEGIN HOME PAGE STYLING ///////

    section.welcome, section.innerPage {
        background-color: $white;
        padding-bottom: 20px;
    }

    section.welcome {
        padding-top: 1px;
    }

    section.home-curve {
        //border-radius: 0 0 60% 60% / 50%;
        //-moz-border-radius: 0 0 60% 60% / 50%;
        //-webkit-border-radius: 0 0 60% 60% / 50%;

        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        height: 100%;
        width: 100%;
        background-color: $white;
        z-index: 1000;
        position: relative;
        min-height: 115px;

        &:before {
            content: "";
            display: block;
            height: 60%;
            width: 100%;
            background-color: $white;
            z-index: 900;
            position: absolute;
            top: -5px;
        }
    }

    section.home-features {
        background-image: url("../images/chalkboard-bg.png");
        background-repeat: repeat;
        background-color: $background-blue;
        min-height: 300px;
        margin-top: -40px;
        padding-bottom: 30px;

        .feature-block {
            display: block;
            width: 100%;
            font-family: 'Raleway', sans-serif;

            h3 {
                color: $white;
                font-size: 20px;
                font-weight: normal;
                text-align: center;

                .fa {
                    display: inline-block;
                    font-size: 22px;
                    font-weight: bold;
                }
            }

            h4 {
                color: $light-blue;
                font-size: 18px;
                font-weight: bold;
                margin: 15px 0 0;
            }

            h5 {
                color: $light-blue;
                font-size: 16px;
                font-weight: bold;
            }

            p {
                display: block;
                color: $text-color;
                margin: 0;
            }

            span.date {
                color: $orange;
                display: block;
                margin: 0;
                font-size: 14px;
                margin-bottom: 15px;
            }

            .feature-header-left {
                @include curve-head;
            }

            .feature-header-right {
                @include curve-head;
            }

            .feature-body {
                display: block;
                background-color: $feature-blue;
                position: relative;
                min-height: 200px;
                padding: 5px 20px;
            }

            .feature-footer {
                display: block;
                background-color: $feature-blue;
                border-radius: 0px 0px 8px 8px;
                -moz-border-radius: 0px 0px 8px 8px;
                -webkit-border-radius: 0px 0px 8px 8px;
                position: relative;
                padding: 5px 20px;
                min-height: 50px;
                overflow: hidden;

                a.feature-btn {
                    position: absolute;
                    display: block;
                    color: $dark-blue;
                    font-weight: bold;
                    right: -80px;
                    bottom: -30px;
                    width: 200px;
                    height: 75px;
                    background-color: $feature-blue;
                    -moz-border-radius: 100px / 50px;
                    -webkit-border-radius: 100px / 50px;
                    border-radius: 100px / 50px;
                    -webkit-box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
                    box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
                    cursor: pointer;
                    padding: 15px 0 0 30px;
                    text-decoration: none;

                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }

    /////// END HOME PAGE STYLING ///////

    /////// BEGIN INTERNAL PAGE STYLING ///////

    section.innerPage {
        font-family: 'Raleway', sans-serif;

        h1 {
            text-transform: uppercase;

            span.photo-credit {
                display: inline-block;
                font-weight: normal;
                font-style: italic;
                font-size: 16px;
                float: right;
                text-align: left;
                width: 20%;
                color: $light-blue;
                position: absolute;
                right: 15px;
            }
        }

        h2 {
            display: block;
            color: $light-blue;
            font-size: 34px;
            font-weight: normal;
            width: 90%;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            padding: 20px 0;
        }

        h2.dashboard-topic {
            text-align: left;
            line-height: 90px;
            margin-left: -22px;
        }

        h3 {
            display: block;
            color: $light-blue;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            font-weight: normal;
            text-transform: uppercase;
            line-height: 30px;
        }

        p {
            display: block;
            color: $text-color;
        }

        img {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }

        ul {
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                color: $light-blue;
                display: block;
                margin: 10px 0;
                text-align: left;
            }
        }

        .btn {
            display: block;
            color: $white;
            max-width: 300px;
            font-size: 18px;
            font-weight: normal;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            padding: 10px 20px;
            text-transform: uppercase;
            border: none;
            background: #95b0c6;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;

            /* Old browsers */
            background: -moz-linear-gradient(left, #95b0c6 1%, #62a2da 32%, #2989d8 51%, #62a2da 71%, #95b0c6 100%);

            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #95b0c6 1%, #62a2da 32%, #2989d8 51%, #62a2da 71%, #95b0c6 100%);

            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #95b0c6 1%, #62a2da 32%, #2989d8 51%, #62a2da 71%, #95b0c6 100%);

            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95b0c6', endColorstr='#95b0c6',GradientType=1 );

            /* IE6-9 */
        }

        .circle-container {
            display: block;
            margin-right: auto;
            margin-left: auto;

            .light-blue-circle {
                @include circle;

                text-align: center;
                display: block;
                background-color: $light-blue;

                .fa {
                    position: relative;
                    top: 50%;
                    -ms-transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            .orange-circle {
                @include circle;

                text-align: center;
                display: block;
                background-color: $orange;

                .fa {
                    position: relative;
                    top: 50%;
                    -ms-transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }
    }

    section.innerPage-gradient {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f9f2e6+28,f9f2e6+28,78b2e3+51,78b2e3+67,78b2e3+67,ffffff+93,ffffff+93 */
        background: rgb(255, 255, 255);

        /* Old browsers */
        background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(249, 242, 230) 28%, rgb(249, 242, 230) 28%, rgb(120, 178, 227) 51%, rgb(120, 178, 227) 67%, rgb(120, 178, 227) 67%, rgb(255, 255, 255) 93%, rgb(255, 255, 255) 93%);

        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(249, 242, 230) 28%, rgb(249, 242, 230) 28%, rgb(120, 178, 227) 51%, rgb(120, 178, 227) 67%, rgb(120, 178, 227) 67%, rgb(255, 255, 255) 93%, rgb(255, 255, 255) 93%);

        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(249, 242, 230) 28%, rgb(249, 242, 230) 28%, rgb(120, 178, 227) 51%, rgb(120, 178, 227) 67%, rgb(120, 178, 227) 67%, rgb(255, 255, 255) 93%, rgb(255, 255, 255) 93%);

        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );

        /* IE6-9 */

        margin-bottom: 30px;
        padding: 30px 0;

        .author {
            color: $white;
            font-style: italic;
            float: right;
            display: block;
        }
    }

    section.dashboard-content {
        background-color: $light-grey !important;
        font-family: 'Raleway', sans-serif;
        padding: 20px 0;
        margin-top: -20px;
        display: table;

        .icon-wrapper {
            display: block;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            width: 100%;

            .hvr-underline-from-center {
                margin-top: -155px;
            }

            ul {
                display: table;
                list-style: none;
                width: 100%;
                margin: 0 0 20px;
                padding: 0;

                li {
                    display: table-cell;
                    width: 10%;
                    text-align: center;

                    a {
                        display: inline-block;

                        img {
                            display: block;
                            width: 100px;
                            border: none;
                            margin-left: auto;
                            margin-right: auto;
                            margin: 15px;
                        }

                        span.icon-title {
                            display: block;
                            color: $text-color;
                            text-transform: uppercase;
                            font-weight: bold;
                            margin-top: 5px;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        &:hover {
                            img {
                                opacity: 0.5;
                                filter: alpha(opacity = 50);
                            }

                            span.icon-title {
                                color: $dark-blue;
                                opacity: 1.0 !important;
                                filter: alpha(opacity = 100) !important;
                            }
                        }
                    }

                    a.active {
                        // -webkit-box-shadow: 0px 0px 15px 6px rgba(251, 177, 72, 1);
                        //  -moz-box-shadow: 0px 0px 15px 6px rgba(251, 177, 72, 1);
                        //  box-shadow: 0px 0px 15px 6px rgba(251, 177, 72, 1);
                        border: 3px solid $orange;
                        background-color: $light-blue;

                        span.icon-title {
                            color: $white;
                        }
                    }

                    a > img.active {
                        //-webkit-box-shadow: 0px 0px 15px 6px rgba(251, 177, 72, 1);
                        // -moz-box-shadow: 0px 0px 15px 6px rgba(251, 177, 72, 1);
                        //box-shadow: 0px 0px 15px 6px rgba(251, 177, 72, 1);
                        // background-color: $orange;
                        border: 3px solid $orange;
                    }
                }
            }
        }
    }

    /////// END INTERNAL PAGE STYLING ///////
}
